{% extends "layout.html" %}

{% block page_title %}
  Industrial Injuries Disablemment Benefit
{% endblock %}

{% block content %}
<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/" method="post" class="form">

        <h1 class="heading-xlarge">
          Appointee
        </h1>

        

        <h2 class="heading-large">
        Are you filling in this claim for someone else?
        </h2>

        <p>
          Select one of the options below.
        </p>

        <div class="form-group">
          <fieldset>
            
            <label for="radio-part-2" class="block-label">
              <input id="radio-part-2" type="radio" name="appointee" value="Part 2">
              <span class="heading-small">Yes</span>
            </label>  
            <label for="radio-part-3" class="block-label">
              <input id="radio-part-3" type="radio" name="appointee" value="Part 3">
              <span class="heading-small">No</span>
            </label>

          </fieldset>
        </div>
        <div class="form-group">
        <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
