{% extends "layout.html" %}

{% block page_title %}
  Industrial Injuries Disablement Benefit
{% endblock %}

{% block content %}
<main id="content" role="main">


  <form action="/" method="post" class="form">
    <a href="appointee" class="example-back-link">Back</a>

    <h1 class="form-title heading-large">
    Appointee details
    </h1>
    <div>
    <h2 class="font-small">Have you informed the Department for Work and Pensions that you are an appointee for the claimant?</h2>
    </div>
    <!-- Full name -->
    <div class="form-group">
      <label class="form-label-bold" for="full-name">Your full name</label>
      <p class="form-hint">As shown on your birth certificate or passport</p>
      <input type="text" class="form-control" id="full-name">
    </div>

    <!-- National Insurance number -->
    <div class="form-group">
      <label class="form-label-bold" for="ni-number">
        Your National Insurance number
        <span class="form-hint">
          It's on your National Insurance card, benefit letter, payslip or P60.
          <br>
          For example, 'VO 12 34 56 D'.
        </span>
      </label>
      <input type="text" class="form-control" id="ni-number">
    </div>

    <!-- Date of birth -->
    <div class="form-group">
      <fieldset>
        <legend class="form-label-bold">Your date of birth</legend>

        <div class="form-date">

          <p class="form-hint">For example, 31 3 1980</p>

          <div class="form-group form-group-day">
            <label for="dob-day">Day</label>
            <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
          </div>

          <div class="form-group form-group-month">
            <label for="dob-month">Month</label>
            <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
          </div>

          <div class="form-group form-group-year">
            <label for="dob-year">Year</label>
            <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
          </div>
          </fieldset>

        <div class="form-group">  
          <fieldset>
            <legend class="form-label-bold">Your address</legend>

            <div class="form-group form-group-compound">
              <label class="form-label" for="address-line-1">Street</label>
              <input class="form-control" type="text" id="address-line-1">
            </div>

            <div class="form-group">
              <label class="form-label visuallyhidden" for="address-line-2">Street</label>
              <input class="form-control" type="text" id="address-line-2">
            </div>

            <div class="form-group">
              <label class="form-label" for="address-town">Town or City</label>
              <input class="form-control form-control-1-4" type="text" id="address-town">
            </div>

            <div class="form-group">
              <label class="form-label" for="address-postcode">Postcode</label>
              <input class="form-control form-control-1-8" type="text" id="address-postcode">
            </div>

          </fieldset>
            </div>  
        </div>

      </fieldset>
    </div>

    <!--div class="form-group">
      <details>
        <summary><span class="summary">Help with date of birth</span></summary>
        <div class="panel panel-border-narrow">
          <p>
            If you don’t know your exact date of birth, use the one you put on official documents (for example, your passport or driving licence).
          </p>
          <p>
            If you can’t provide your date of birth you’ll have to send copies of identity documents through the post.
          </p>
        </div>
      </details>
    </div-->

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>
  </form>

</main>
{% endblock %}
