{% extends "layout.html" %}

{% block page_title %}Industrial Injuries Disablement benefit{% endblock %}

{% block content %}
<main id="content" role="main">
  
  <form action="choose-benefit" method="#" class="form">

  <a href="apply" class="example-back-link">Back</a>

  <h1 class="heading-large">
    Before you start
  </h1>

  <div class="text">
    <div>
    <p>
      To apply for Industrial Injuries Disablement benefit;
    </p>

    <ul class="list list-bullet">
      <li>You must not be self-employed</li>
      <li>You must claim within 12 months of dianosis</li>
      <li>You must claim within 12 months of the sufferer deceasing</li> 
      <li>You must be the sufferer or appointee, dependent or partner of sufferer</li>
    
    </ul>
  </div>
    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <input type="submit" class="button" value="I agree - start my application"> <a href="overview">I do not agree - leave now</a>
    </div>

  </div>

</main><!-- / #page-container -->
{% endblock %}


