{% extends "layout.html" %}

{% block page_title %}Industrial Injuries Disablement benefit{% endblock %}

{% block content %}
<main id="content" role="main">

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-xlarge">
	      Industrial  Injuries Disablement benefit
	    </h1>
	    
		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-bullet list-none grid-row">
						<div class="column-half">
							<li class="font-xsmall">
								1. <a href="overview" title="Part 1:  Overview">Overview</a>
							</li>
							<li class="font-xsmall">
								2. <a href="what-youll-get" title="Part 2:  What you'll get">What you'll get</a>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								3. <a href="eligibility" title="Part 3: Eligibility">Eligibility</a>
							</li>
							<li class="font-xsmall">
								4. <a href="apply" title="Part 4: Apply">Apply</a>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>
	    
	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">3. Eligibility</h1>
		    </header>
			<article>
				<h2 class="bold-medium">Accidents</h2>
				<p>You may be able to claim Industrial Injuries Disablement benefit, if;</p>
				<ul class="list-bullet">
					<li>you were employed when the accident or event happened</li>
					<li>you were on an approved employment training scheme or course when the accident or event happened</li>
					<li>the work accident or event that caused your illness or disability happened in England, Scotland or Wales</li>
				</ul>
				

				<h2 class="bold-medium">Diseases</h2>
				<p>You can claim IIDB if you were employed in a job or were on an approved employment training scheme or course that caused your disease. The scheme covers more than seventy diseases, including;</p>
				<ul class="list list-bullet">
					<li>asthma</li>
					<li>chronic bronchitis or emphysema</li>
					<li>deafness</li>
					<li>pneumoconiosis (including silicosis and asbestosis)</li>
					<li>osteoarthritis of the knee in coal miners</li>
					<li>prescribed disease A11 (previously known as vibration white finger)</li>
					<li>iffuse mesothelioma and a number of other asbestos-related diseases such as primary carcinoma of the lung</li>
				</ul>
				<p>The scheme also covers asbestos related diseases including:</p>
				<ul class="list list-bullet">
					<li>pneumoconiosis (asbestosis)</li>
					<li>diffuse mesothelioma</li>
					<li>primary carcinoma of the lung with asbestosis</li>
					<li>primary carcinoma of the lung without asbestosis but where there has been extensive occupational exposure to asbestos in specified occuptions</li>
					<li>unilateral or bilateral diffuse pleural thickening</li>
				</ul>
				<div class="application-notice help-notice">		
					<p>"You can't claim Industrial Injuries Disablement Benefit if you were self-employed"</p>
				</div>	
			</article>

			<footer>
				<nav class="pagination" role="navigation" aria-label="Pagination">
					<ul class="group">
						<li class="previous">
      						<a href="what-youll-get" rel="prev" title="Navigate to previous part">
      							<span class="pagination-label">Previous </span> <span class="pagination-part-title"> What you'll get</span>
      						</a>          
      					</li>
          				<li class="next">
            				<a href="apply" rel="next" title="Navigate to next part">
              					<span class="pagination-label">Next</span> <span class="pagination-part-title"> Apply</span>
							</a>          			
						</li>
    				</ul>
    			</nav>
    		</footer>
	        
	    </div>
	</div>
	
	
	<div class="column-third">

	</div>
</div>

</main><!-- / #page-container -->
{% endblock %}


