{% extends "layout.html" %}

{% block page_title %}Industrial Injuries Disablement benefit{% endblock %}

{% block content %}
<main id="content" role="main">



<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-xlarge">
	      Industrial Injuries Disablement benefit
	    </h1>
	    
		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-bullet list-none grid-row">
						<div class="column-half">
							<li class="font-xsmall">
								1. <a href="overview" title="Part 1:  Overview">Overview</a>
							</li>
							<li class="font-xsmall">
								2. <a href="what-youll-get" title="Part 2:  What you'll get">What you'll get</a>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								3. <a href="eligibility" title="Part 3: Eligibility">Eligibility</a>
							</li>
							<li class="font-xsmall">
								4. <a href="apply" title="Part 4: Apply">Apply</a>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>
	    
	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">1. Overview</h1>
		    </header>
			<article>
				<p>You can make a claim for Industrial Injuries Disablement Benefit if you are ill or have had an accident at work or while on an approved employment training course.</p>

				<p>The amount you get depends on your indvidual circumstances</p>

			</article>

			<footer>
				<nav class="pagination" role="navigation" aria-label="Pagination">
					<ul class="group">
          				<li class="next">
            				<a href="what-youll-get" rel="next" title="Navigate to next part">
              					<span class="pagination-label">Next</span> <span class="pagination-part-title"> What you'll get</span>
							</a>          			
						</li>
    				</ul>
    			</nav>
    		</footer>
	        
	    </div>
	</div>
	
	
	<div class="column-third">

	</div>
</div>

</main><!-- / #page-container -->
{% endblock %}


