{% extends "layout.html" %}

{% block page_title %}Industrial Injuries Disablement Benefit{% endblock %}

{% block content %}
<main id="content" role="main">


<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-xlarge">
	      Industrial Injuries Disablement Benefit
	    </h1>
	    
		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-bullet list-none grid-row">
						<div class="column-half">
							<li class="font-xsmall">
								1. <a href="overview" title="Part 1:  Overview">Overview</a>
							</li>
							<li class="font-xsmall">
								2. <a href="what-youll-get" title="Part 2:  What you'll get">What you'll get</a>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								3. <a href="eligibility" title="Part 3: Eligibility">Eligibility</a>
							</li>
							<li class="font-xsmall">
								4. <a href="apply" title="Part 4: Apply">Apply</a>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>
	    
	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">2. What you'll get</h1>
		    </header>
			<article>
				<p>The level of your disability will affect the amount of benefit you may get. This will be assessed by a ‘medical advisor’ on a scale of 1 to 100%</p>
				<div class="panel panel-border-wide">
					<p>Normally you must be assessed as 14% disabled or more to get the benefit</p>
				</div>
				<p>All amounts are guides only</p>
				<table>
					<thead>
						<tr>
							<th>Assessed level of disablement</th>
							<th>Weekly amonut</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>100%</td>
							<td>£168.00</td>
						</tr>
						<tr>
							<td>90%</td>
							<td>£151.20</td>
						</tr>
						<tr>
							<td>80%</td>
							<td>134.40</td>
						</tr>
						<tr>
							<td>70%</td>
							<td>£117.60</td>
						</tr>
						<tr>
							<td>60%</td>
							<td>£100.80</td>
						</tr>
							<td>50%</td>
							<td>£84.00</td>
						</tr>
						<tr>
							<td>40%</td>
							<td>£67.20</td>
						</tr>
						<tr>
							<td>30%</td>
							<td>£50.40</td>
						</tr>
						<tr>
							<td>20%</td>
							<td>£33.60</td>
						</tr>							
					</tbody>				
				
				</table>	

				

				<h2 class="bold-medium">How you’re paid</h2>
				<div>
					<p>Industrial Injuries Disablement Benefit is usually paid weekly in advance, 4 weekly in arrears or every 13 weeks in arrears. It will normally be paid into an account</a>, eg a bank account, building society or Credit Union.</p>
				</div>
			</article>

			<footer>
				<nav class="pagination" role="navigation" aria-label="Pagination">
					<ul class="group">
						<li class="previous">
      						<a href="overview" rel="prev" title="Navigate to previous part">
      							<span class="pagination-label">Previous </span> <span class="pagination-part-title"> Overview</span>
      						</a>          
      					</li>
          				<li class="next">
            				<a href="eligibility" rel="next" title="Navigate to next part">
              					<span class="pagination-label">Next</span> <span class="pagination-part-title"> Eligibility</span>
							</a>          			
						</li>
    				</ul>
    			</nav>
    		</footer>
	        
	    </div>
	</div>
	
	
	<div class="column-third">

	</div>
</div>

</main><!-- / #page-container -->
{% endblock %}


